streamlit>=1.25.0
langchain>=0.1.0
langchain-embedding-huggingface>=0.0.8
langchain-llm-huggingface>=0.0.9
langchain-vectorstores-faiss>=0.0.9
langchain-community>=0.0.40
transformers>=4.35.0
torch>=2.1.0
sentence-transformers>=2.2.2
